.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: red;
  color: #ffd700;
  height: 40px;
}

.header-left,
.balance-logo,
.header-right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.header-left {
  background-color: green;
  padding: 10px;
}

#wallet-button {
  display: flex;
  background-color: blue;
  width: 100%;
  float: right;
  justify-content: center;
}

.balance {
  font-family: 'ArcadeClassic', sans-serif;                                 
  padding-right: 10px;
  padding-left: 90px;
  padding-top: 10px;
  color: white;
  background-color: orangered;
  width: 140px;
}

.header-right {
  flex: 1;
  padding: 20px;
  width: 100%;
  background-color: pink;
  padding-left: 30px;
}

.header-left,
.header-right {
  flex-basis: 300px;
  flex-grow: 0;
}

.wallet-address {
  font-size: 0.85em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .header-left,
  .header-right {
    flex-basis: 100px;
  }

  .wallet-address {
    font-size: 0.75em;
  }
}

.App {
  display: flex;
  justify-content: space-between;
  background: #121212;
  color: #ffd700;
  padding: 20px;
  height: 100vh;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
}

.side-panel {
  background-color: #181818;
}

.main-panel {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
