.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;

  color: #53e4e6;
  height: 50px;
}

.header-logo{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 40px;
}

.header-left,
.header-right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.header-left {
  font-family: 'ArcadeClassic', sans-serif;
  font-size: 90px;
  padding: 10px;
}

#wallet-button {
  display: flex;
  width: 100%;
  float: right;
  justify-content: center;
}

.btn {
  font-family: 'ArcadeClassic', sans-serif;
  font-size: 15px;
  padding: 10px 23px;
  background-color: rgb(47, 114, 250);
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: rgb(61, 199, 201);
  font-family: 'ArcadeClassic', sans-serif;
}

.balance {
  display: flex;
  font-family: 'ArcadeClassic', sans-serif;
  font-size: 19px;                                 
  padding-right: 90px;
  padding-left: 90px;
  padding-top: 10px;
  color: white;
  justify-content: center;
  width: 160px;
}

.header-right {
  flex: 1;
  padding: 20px;
  width: 100%;
  padding-left: 30px;
}

#title-blocade {
  display: flex;
  font-family: 'ArcadeClassic', sans-serif;
  font-size: 10px;
}

.header-left,
.header-right {
  flex-basis: 300px;
  flex-grow: 0;
}

.wallet-address {
  font-size: 0.85em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .header-left,
  .header-right {
    flex-basis: 100px;
  }

  .wallet-address {
    font-size: 0.75em;
  }
}

.App {
  display: flex;
  justify-content: space-between;
  background: #121212;
  color: #ffd700;
  padding: 20px;
  height: 100vh;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
}

.side-panel {
  background-color: #181818;
}

.main-panel {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
